.portfolioDiv{
    background-color: white;
    color: #2c3e50;
    /* height: 100vh; */
    text-align: center;
    padding: 30px 0;
}

.portfolioDiv .seprate .line{
    height: 4px;
    width: 80px;
    background-color: #2c3e50;
    
}


.portfolioDiv .imgCont{
    position: relative;
}


.portfolioDiv .layer{
    background-color: #1abc9ce6;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all 0.6s;
}

.portfolioDiv .imgCont:hover .layer{
    opacity: 1;
}


.portfolioDiv .imgLayer{
    background-color: rgba(44, 62, 80, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.portfolioDiv .imgLayer img{
    width: 70% !important;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}